@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;

}

.header {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 70vh;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 25px;
    color: cyan;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    font-weight: 600;
    color: black;
    display: block;
}

.menu .navbar ul li a:hover {
    color: cyan;
}

#menu {
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #favoritos {
    display: none;
}

.submenu:hover #favoritos {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #77777797;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
table {
    width: 100%;
}

th, td {
    color: white;
}

.borrar {
    background-color: cyan;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.bg {
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
    z-index: -1;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
    margin-right: 50px;
}
.header-txt h1 {
    font-size: 55px;
    line-height: 65px;
    color: black;
    margin-bottom: 35px;
}
.header-txt p {
    font-size: 16px;
    color: gray;
    margin-bottom: 45px;
}
.header-txt span {
    color: cyan;
}
.btn-1 {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 25px;
    background-color: cyan;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
}
.btn-1 :hover{
    background-color: cyan;
}

.header-img {
    width: 50%;
    text-align: right;
}

.header-img img{
    width: 650px;
}
.Clasicos {
    padding: 50px 0;
}

h2 {
    font-size: 45px;
    line-height: 55px;
    color: black;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: gray;
    margin-bottom: 45px;
}

.Clasicos-content{
    display: flex;
    justify-content: space-between;
}
.Clasicos-1 {
    display: flex;
    align-items: center;
    background-color: cyan;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.Clasicos-1 h3 {
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.Clasicos-1 img {
    width: 50px;
    margin-right: 25px;
}
.info {
    padding: 100px 0;
    position: relative;
}
.bg-2 {
    position: absolute;
    width: 300px;
    z-index: -1;
    top: 50px;
}
.info-content {
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
    text-align: left;
}
.info-img img {
    width: 450px;
    margin-left: -50px;
}
.info-txt {
    width: 50%;
}
.products {
    padding: 0 0 50px 0;
    text-align: center;
}
.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.box {
    border-top: 2px solid cyan;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4) {
    display: inline-block;
}
.box img {
    width: 120px;
}
.prduct-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
}
.product-txt p {
    margin-bottom: 25px;
}

.Descripcion {
    font-size: 15px;
    color: black;
}
.btn-2 {
    background-color: cyan;
    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
.btn-2:hover {
    background-color: aqua;
}
.btn-3 {
    display: inline-block;
    padding: 5px 25px;
    background-color: cyan;
    color: black;
    border-radius: 10px;
}
.btn-3:hover {
    background-color: red;
}